<main id="about">
  <div class="section">
    <div class="row">
      <div class="col content">
        <div>
          <h2>Über mich</h2>
          <p>
            Mein Name ist Patrice, ich komme ursprünglich aus Grosshöchstetten im Kanton Bern und habe Anfang 2024 meine eigene Cateringfirma gegründet. 
            Die Leidenschaft für das Kochen habe ich von meinem Vater übernommen. Schon immer habe ich gerne für meine Freunde gekocht und bin fest davon überzeugt, 
            dass Freundschaften am Besten durch gutes Essen gepflegt werden! Mit Gourmunity möchte ich genau das weitergeben – gutes Essen, das Menschen verbindet. 
            Unser Catering steht für Genuss in bester Gesellschaft.
          </p>
        </div>
      </div>
      <div class="col image">
        <img src="assets/images/portrait_1.jpg" alt="Portrait von Patrice">
      </div>
    </div>
  </div>
</main>
