<footer>
  <div class="section">
    <div class="row">
      <div class="col" id="address">
        <strong>Adresse</strong>
        <p>3506 Grosshöchstetten <br> Lindenackerweg 9</p>
      </div>
      <div class="col" id="mail">
        <strong>Kontakt</strong>
        <p>+41 79 852 59 30 <br> gourmunity.catering&#64;gmail.com</p>
      </div>
    </div>
    <hr>
    <div class="social-media">
      <div class="row">
        <a target="_blank" href="https://www.instagram.com/gourmunity/">
          <img src="assets/images/insta.svg" alt="Instagram">
        </a>
        <a target="_blank" href="https://wa.me/+41798525930">
          <img src="assets/images/whatsapp.svg" alt="WhatsApp">
        </a>
      </div>
    </div>
    <div class="copyright">
      <p>&#169; 2024 Patrice Bracher</p>
    </div>
  </div>
</footer>
