<main id="title">
  <div class="section">
    <h1>Gourmunity</h1>
    <h3>Catering</h3>
  </div>
</main>

<main id="intro">
  <div class="section blured">
    <div>
      <h2>Über uns</h2>
    </div>
    <div>
      Anfang 2024 wurde ich durch meine Leidenschaft fürs gemeinsame Essen mit Freunden inspiriert, meinen eigenen Cateringservice zu gründen.
      Bei kleineren Events konnte ich wertvolle Erfahrungen sammeln und Gourmunity stetig weiterentwickeln. 
      <br><br>
      Heute bieten wir ein vielseitiges Angebot für ganz unterschiedliche Anlässe – von Geburtstagsfeiern mit Roastbeef über Trauerfeiern mit Suppen, Fleisch- und Käseplatten bis hin zu Firmenevents, bei denen unsere beliebten Smashburger serviert werden.
      Egal welchen Event du planst, bei uns bist du in besten Händen. Wir freuen uns auf deine Anfrage!
    </div>
  </div>
</main>
